.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;

    z-index: 999;
    background-color: rgba(43, 43, 43, 0.849);
  }

@import "~bootstrap/dist/css/bootstrap.css"