.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el ancho del contenido */
    max-width: 600px; /* Define un ancho máximo para limitar el tamaño en pantallas grandes */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  


form {
    /* Estilos para el formulario */
    width: 400px; /* Opcional: ajusta el ancho según tus necesidades */
    padding: 20px;
    background-color: #f2f2f2a8;
   
    justify-content: center;
    align-items: center;
    
  }
